section.main-banner.cf
  .intro-text
    h3 The power of one, if fearless and focused, is formidable, but the power of many working together is better.
    p.sub-title Gloria Macapagal Arroyo
  img(src='../img/hero-about.jpg')
//.main-banner
section.our-mission.dark-sections.text-xs-center.cf
  .container
    .col-md-6.offset-md-3
      .entry-header
        h2.entry-title Who We Are
      p We are a small graphics and web design team based in Davao City and Bohol, Philippines. We work online/remotely from our clients overseas and travels for local clients. We are open, collaborative, flexible and friendly people. We embrace new challenges with an open heart, hunger to learn, and have passion for solving problems.
//.our-mission
section.our-team.light-sections.cf
  .container-fluid
    .entry-header
      h2.entry-title.m2 Our Team
    .col-sm-6.col-md-4.box
      .card
        img(src='../img/team/team-harold.jpg' alt='Online Crew Designs - Harold Lupogan')
        h3.card-title Harold Lupogan
         br
         small.text-muted Founder / Web Designer
    .col-sm-6.col-md-4.box
      .card
        img(src='../img/team/team-noel.jpg' alt='Online Crew Designs - Noel Penequito')
        h3.card-title Noel Penequito
         br
         small.text-muted Wordpress Developer
    .col-sm-6.col-md-4.box
      .card
        img(src='../img/team/team-lee.jpg' alt='Online Crew Designs - Lee Caceres')
        h3.card-title Lee Caceres
         br
         small.text-muted Wordpress Developer / Designer
    .col-sm-6.col-md-4.box
      .card
        img(src='../img/team/team-ian.jpg' alt='Online Crew Designs - Harold Lupogan')
        h3.card-title Ian Muico
         br
         small.text-muted Frontend Developer / Designer
    .col-sm-6.col-md-4.box
      .card
        img(src='../img/team/team-gab.jpg' alt='Online Crew Designs - Gab Gabonada')
        h3.card-title Boss Gab
         br
         small.text-muted Illustrator
    .col-sm-6.col-md-4.box
      .card
        img(src='../img/team/team-mark.jpg' alt='Online Crew Designs - Mark Diaz')
        h3.card-title Mark Gil Diaz
         br
         small.text-muted Graphic Designer
//.our-team
section.our-clients.default-sections
  .container
    .entry-header.m2
      h2.entry-title Our Clients
    .col-sm-3.col-xs-6
      img(src='../img/clients/client-1upmarketing.jpg' alt='')
    .col-sm-3.col-xs-6
      img(src='../img/clients/client-buzzword.jpg' alt='')
    .col-sm-3.col-xs-6
      img(src='../img/clients/client-angelajaboro.jpg' alt='')
    .col-sm-3.col-xs-6
      img(src='../img/clients/client-clickrefresh.jpg' alt='')
    .col-sm-3.col-xs-6
      img(src='../img/clients/client-mxzen.jpg' alt='')
    .col-sm-3.col-xs-6
      img(src='../img/clients/client-silangancoop.jpg' alt='')
    .col-sm-3.col-xs-6
      img(src='../img/clients/client-wholesale.jpg' alt='')
    .col-sm-3.col-xs-6
      img(src='../img/clients/client-musikahan.jpg' alt='Musikahan sa Tagum logo')
    .col-sm-3.col-xs-6
      img(src='../img/clients/client-women.jpg' alt='Tagum City Council of Women Logo')
    .col-sm-3.col-xs-6
      img(src='../img/clients/client-rabbitfoot.jpg' alt='Rabbitfoot Photography logo')
    .col-sm-3.col-xs-6
      img(src='../img/clients/client-dalthan.jpg' alt='Dalthan Printing Press logo')
    .col-sm-3.col-xs-6
      img(src='../img/clients/client-slimminglida.jpg' alt='Slimming Lida Daidaihua')
//.our-clients
