section.main-banner.cf
  img(src='../img/works/homework-banner.jpg')
section.generic-sections.cf
  header.entry-header.cf
    h1.entry-title.text-xs-center My Homework
    p.p2.text-xs-center My Homework LLC is a constructions company based in Virginia, Maryland, USA.
  .entry-content.cf
    .col-md-8.offset-md-2.cf
      img(src='../img/works/homework-mockup.jpg' class='m2')
      img(src='../img/works/homework-full.jpg')
