section.main-banner.cf
  img(src='../img/works/penandink-banner.jpg')
section.generic-sections.cf
  header.entry-header.cf
    h1.entry-title.text-xs-center Pen & Ink Tattoo and Clothing
    p.p2.text-xs-center Owned and managed by Jie Embodo, a multi-disciplinary visual artist, 
      br
      | street performer, musician and fire dancer based in Tagum City, Philippines.
  .entry-content.cf
    .col-md-8.offset-md-2.cf
      img(src='../img/works/penandink-mockup.jpg')
      img(src='../img/works/penandink-homepage.jpg')
      img(src='../img/works/penandink-mobile.jpg' class='m2')
      p.text-xs-center.p2
        a(href='http://penandinktattoo.info' target='_blank') Visit website 