section.main-banner.cf
  img(src='../img/works/bitterman-banner.jpg')
section.generic-sections.cf
  header.entry-header.cf
    h1.entry-title.text-xs-center Kyle Bitterman
    p.p2.text-xs-center Kyle Bitterman is a professional motocross racer and 
      br 
      | a motor parts shop owner based in South Carolina, USA.
  .entry-content.cf
    .col-md-8.offset-md-2.cf
      img(src='../img/works/bitterman-mockup.jpg' class='m2')
      img(src='../img/works/bitterman-full.jpg')
      img(src='../img/works/bitterman-mobile.jpg' class='m2')