section.main-banner.cf
  img(src='../img/works/dalthan-banner.jpg')
section.generic-sections.cf
  header.entry-header.cf
    h1.entry-title.text-xs-center Dalthan Printing Press
    p.p2.text-xs-center The best offset printing press in Tagum City
  .entry-content.cf
    .col-md-8.offset-md-2.cf
      img(src='../img/works/dalthan-mockup.jpg' class='m2')
      img(src='../img/works/dalthan-full.jpg')
      img(src='../img/works/dalthan-mobile.jpg' class='m2')
      p.text-xs-center.p2
        a(href='http://dalthanprinting.com' target='_blank') Visit Website