section.main-banner.cf
  img(src='../img/works/arrow-banner.jpg')
section.generic-sections.cf
  header.entry-header.cf
    h1.entry-title.text-xs-center Arrow Tip Marketing
    p.p2.text-xs-center Arrow Tip Marketing is a global organization with industry professionals and offices in 
      br
      | Miami USA, Manila Philippines, and San Jose Costa Rica. 
  .entry-content.cf
    .col-md-8.offset-md-2.cf
      img(src='../img/works/arrow-mockup.jpg' class='m2')
      img(src='../img/works/arrowtip-full.jpg' class='m2')
      img(src='../img/works/arrow-businesscard.jpg' class='m2')