section.main-banner.cf
  img(src='../img/works/lida-banner.jpg')
section.generic-sections.cf
  header.entry-header.cf
    h1.entry-title.text-xs-center Slimming Lida Daidaihua
    p.p2.text-xs-center is a fast and effective slimming gel, still new in the Philippines 
      br
      | but it's extremely popular in America and other Southeast Asian Countries.
  .entry-content.cf
    .col-md-8.offset-md-2.cf
      img(src='../img/works/lida-mockup.jpg' class='m2')
      img(src='../img/works/lida-full.jpg' class='m2')
      img(src='../img/works/lida-mobile.jpg' class='m2')
      h3.m2.text-xs-center Volleyball Jersey
      img(src='../img/works/lida-jersey.jpg' class='m2')
      h3.m2.text-xs-center Social Media
      img(src='../img/works/lida-fb.jpg' class='m2')
      p.text-xs-center.p2
        a(href='http://slimminglidadaidaihua.com' target='_blank') Visit Website 



