section.main-banner.cf
  img(src='../img/works/rabbitfoot-banner.jpg')
section.generic-sections.cf
  header.entry-header.cf
    h1.entry-title.text-xs-center Rabbitfoot Photography
    p.p2.text-xs-center The Rabbitfoot Photography is the leading contemporary wedding and 
      br
      | lifestyle photography in Tagum City, Philippines.
  .entry-content.cf
    .col-md-8.offset-md-2.cf
      img(src='../img/works/rabbitfoot-mockup.jpg')
      h2.text-xs-center.m2 Category Page
      img(src='../img/works/rabbitfoot-wedding.jpg')
      h2.text-xs-center.m2 Mobile Friendly
      img(src='../img/works/rabbitfoot-mobile.jpg' class='m2')
      p.text-xs-center.p2
        a(href='http://rabbitfoot.com.ph' target='_blank') Visit Website