section.main-banner.cf
  img(src='../img/works/angelajaboro-banner.jpg')
section.generic-sections.cf
  header.entry-header.cf
    h1.entry-title.text-xs-center Angela Jaboro Photography
    p.p2.text-xs-center is a portrait and events photographer based in Michigan, USA.
  .entry-content.cf
    .col-md-8.offset-md-2.cf
      img(src='../img/works/angelajaboro-mockup.jpg')
      h2.text-xs-center.m2 Category Page
      img(src='../img/works/angelajaboro-services.jpg')
      h2.text-xs-center Mobile Friendly
      img(src='../img/works/angelajaboro-mobile.jpg' class='m2')
      p.text-xs-center.p2
        a(href='http://angelajaboro.com' target='_blank') Visit Website 



