section.main-banner.cf
  img(src='../img/works/kyle-banner.jpg')
section.generic-sections.cf
  header.entry-header.cf
    h1.entry-title.text-xs-center Kyle Born
    p.p2.text-xs-center Kyle Born is an international Motocross champion. 
      br
      | He started riding bike at the age of 2. 
  .entry-content.cf
    .col-md-8.offset-md-2.cf
      img(src='../img/works/kyle-mockup.jpg' class='m2')
      img(src='../img/works/kyle-full.jpg' class='m2')
      img(src='../img/works/kyle-resume.jpg' class='m2')
      p.text-xs-center.p2
        a(href='http://kyleborn464.com' target='_blank') Visit Website 



