.home-about.dark-sections
	.container-fluid
		.col-md-10.offset-md-1
			.section-content
				h1 We are a Web Design and Development Team.
				.section-content-text
					p We Help Small & Medium Sized Businesses Connect to the World by creating a beautiful designs that work.
				p
					a(href='/works' class='btn btn-default') SEE OUR WORK
//.home-about