section.home-banner.home-sections.cf
	.container-fluid
		.banner-wrap
			h2 WELCOME TO ONLINECREW.
			h1 We Help Small & Medium Sized Businesses Connect to the World.

	.slide-wrapper
		.slides.slide-1
		.slides.slide-2
		.slides.slide-3
//.home-banner