section.home-banner.home-sections.cf
	.container-fluid
		.banner-wrap
			h1 We help entrepreneurs and small businesses to grow in the online space.
			a(href="#").btn.btn-outline-warning.btn-lg SEE OUR WORKS

	.slide-wrapper
		.slides.slide-1
		.slides.slide-2
		.slides.slide-3
//.home-banner