section.home-reviews.home-sections.cf
	.container-fluid
		header.entry-header
			.col-xs-12
				h3.entry-title Reviews from Clients
		//.entry-header
		
		.reviews-container.cf
			.reviews-wrapper
				.reviews-item.col-md-4
					header.review-title.cf
						.col-sm-3
							.row
								img(src='img/review-1.png' alt='Dr Stephen Anthony')
						.col-sm-9
							h4.reviewer Dr. Stephen Anthony
							p.reviewer-title Stress Management, Ukraine
					.review-content
						p I have used Onlinecrew's web design services  for many projects, they helped in the design and delivery of several complex design and wordpress sites, and based on their work, I would rank them as one of the best designers I have worked with.
						p Onlinecrew distinguished themselves by consistently working hard on design and incorporating all our feedback and there services where also budget friendly.
						p I would highly recommend their services as they are reliable, hardworking and is able to implement several design ideas.
				.reviews-item.col-md-4
					header.review-title.cf
						.col-sm-3
							.row
								img(src='img/review-joshuajantz.png' alt='Joshua Jantz Caveman websites')
						.col-sm-9
							h4.reviewer Joshua Jantz
							p.reviewer-title Caveman Websites, USA
					.review-content
						p I feel blessed to have OnlineCrew working for me. I especially appreciate the positive, happy, and can-do attitude.
				.reviews-item.col-md-4
					header.review-title.cf
						.col-sm-3
							.row
								img(src='img/review-3.png')
						.col-sm-9
							h4.reviewer Will Lai
							p.reviewer-title Marketing SG, LLC, Singapore
					.review-content
						p We have had the opportunity to work with Harold for more than a year. Harold has always shown great attitude and a positive spirit. He is a great team player and would communicate promptly on matters. He is professional in his dealings and a hardworking member.
		//.reviews-container

		footer.entry-footer.cf
			.text-xs-center
				a(href='/reviews' class='btn btn-default') SEE ALL REVIEWS
		//.entry-footer

//.home-reviews



