section.home-reviews.home-sections.cf
	.container
		header.entry-header
			.col-xs-12
				h2.entry-title What our clients say
		//.entry-header
		
		.reviews-wrapper#review-items
			.reviews-item
				header.review-title.cf
					img(src='img/review-monkayo.png' alt='').m-auto
					h4.reviewer Sunshine G. Paulin
					p.reviewer-title LGU Monkayo / monkayo.gov.ph
				.review-content
					p Excellent job in creating the official website of the Municipality of Monkayo. Online Crew incorporated our design and gave helpful and constructive ideas in developing the government site. They can address all your queries in real time and very amenable in answering all our concerns.
			.reviews-item
				header.review-title.cf
					img(src='img/review-luca.png' alt='').m-auto
					h4.reviewer Luca Fedelini
					p.reviewer-title MX Dad & Rider / motocrossmac.com
				.review-content
					p This was truly a fantastic experience. I had an idea of what we wanted as a web page then Harold was able to guide us in the execution and details. It was a very simple process as to what I was expecting and would highly recommend them for any type of graphic design and web page. Thanks again !!!!
			.reviews-item
				header.review-title.cf
					img(src='img/review-1.png' alt='Dr Stephen Anthony').m-auto
					h4.reviewer Dr. Stephen Anthony
					p.reviewer-title Stress Management, Ukraine
				.review-content
					p I have used Onlinecrew's web design services  for many projects, they helped in the design and delivery of several complex design and wordpress sites, and based on their work, I would rank them as one of the best designers I have worked with.
					p Onlinecrew distinguished themselves by consistently working hard on design and incorporating all our feedback and there services where also budget friendly.
					p I would highly recommend their services as they are reliable, hardworking and is able to implement several design ideas.
			.reviews-item
				header.review-title.cf
					img(src='img/review-3.png').m-auto
					h4.reviewer Will Lai
					p.reviewer-title ClickRefresh, USA / clickrefresh.com
				.review-content
					p We have had the opportunity to work with Harold for more than a year. Harold has always shown great attitude and a positive spirit. He is a great team player and would communicate promptly on matters. He is professional in his dealings and a hardworking member.
			.reviews-item
				header.review-title.cf
					img(src='img/review-joshuajantz.png' alt='Joshua Jantz Caveman websites').m-auto
					h4.reviewer Joshua Jantz
					p.reviewer-title Caveman Websites, USA
				.review-content
					p I feel blessed to have OnlineCrew working for me. I especially appreciate the positive, happy, and can-do attitude.
//.home-reviews



