section.serction-services.home-services.text-center.cf
	.container-fluid
		.row
			.entry-header-content
				.col-sm-8.m-auto
					h2 Making life simple, doing things the smart way.
					p With our experiences in branding, website designs and social media we have simplified the process of creating modern-day websites. We create websites with the purpose of creating communities around them and to tell a story the simplest and smartest ways possible!
			.col-sm-4
				.icon.icon-gfx
					img(src="/img/branding.png" alt="Branding Design")
				h3 Branding Design
				p Creating an identity for your brand with our top-notch design work.
			.col-sm-4
				.icon.icon-web
					img(src="/img/web.png" alt="Website Design and Development")
				h3 Web Design & Development
				p Mobile-friendly, fast and secure websites and apps are our specialty.
			.col-sm-4
				.icon.icon-web
					img(src="/img/social-media.png" alt="Social Media Management")
				h3 Social Media Management
				p Increase leads and followers. We can help you build your community.