section.section-works.home-sections.cf
  header.entry-header.cf
    .col-sm-12
      h3.entry-title Recent Works
  .entry-content.cf
    .row
      .col-sm-3
        .row
          .card
            img(src='img/work-arrow.jpg' class='card-img' alt="Arrow Marketing")
            a(href='/works/arrow-marketing' title='Arrow Marketing')        
              .card-img-overlays
                h3.card-title Arrow Marketing
      .col-sm-3
        .row
          .card
            img(src='img/work-dalthan.jpg' class='card-img' alt="Dalthan Printing Press")
            a(href='/works/dalthan-printing' title='Dalthan Printing Press')    
              .card-img-overlays
                h3.card-title Dalthan Printing Press

      .col-sm-3
        .row
          .card
            img(src='img/work-kyle.jpg' class='card-img' alt="Kyle Born")
            a(href='/works/kyleborn' title='Kyle Born')   
              .card-img-overlays
                h3.card-title Kyle Born
                  br
                  small Motocross Racer
      .col-sm-3
        .row
          .card
            img(src='img/work-bitterman.jpg' class='card-img' alt="Kyle Bitterman")
            a(href='/works/kylebitterman' title='Kyle Bitterman')   
              .card-img-overlays
                h3.card-title Kyle Bitterman
                  br
                  small Professional Motocross Racer
      .col-sm-3
        .row
          .card
            img(src='img/work-homework.jpg' class='card-img' alt="My Homework LLC")
            a(href='/works/homework' title='My Homework LLC')   
              .card-img-overlays
                h3.card-title My Homework LLC
                  br
                  small Construction Company
      .col-sm-3
        .row
          .card
            img(src='img/work-mxzen.jpg' class='card-img' alt="MX Zen Academy")
            a(href='/works/mxzen' title='MX Zen Academy')   
              .card-img-overlays
                h3.card-title MX Zen
                  br
                  small Motocross Promotions
      .col-sm-3
        .row
          .card
            img(src='img/work-rabbitfoot.jpg' class='card-img' alt="Rabbitfoot Photography")        
            a(href='/works/rabbitfoot-photography' title='Rabbitfoot Photography')
              .card-img-overlays
                h3.card-title Rabbitfoot Photography
                  br
                  small Tagum City Wedding Photographer
      .col-sm-3
        .row
          .card
            img(src='img/work-angelajaboro.jpg' class='card-img' alt="Angela Jaboro Photography")
            a(href='/works/angelajaboro' title='Jaboro Photography')   
              .card-img-overlays
                h3.card-title Angela Jaboro Photography
                  br
                  small Freelance Photographer