section.section-works.home-sections.cf
  .container-fluid
    header.entry-header.cf
      .col-sm-12
        h3.entry-title Recent Works
    .entry-content.cf
      .col-sm-6
        .row
          .card
            img(src='img/work-arrow.jpg' class='card-img' alt="Arrow Marketing")
            a(href='/works/arrow-marketing' title='Arrow Marketing')        
              .card-img-overlays
                h3.card-title Arrow Marketing
      .col-sm-6
        .row
          .card
            img(src='img/work-dalthan.jpg' class='card-img' alt="Dalthan Printing Press")
            a(href='/works/dalthan-printing' title='Dalthan Printing Press')    
              .card-img-overlays
                h3.card-title Dalthan Printing Press
    footer.entry-footer.cf
      p.text-xs-center
        a(href='/works' class='btn btn-lg btn-default') SEE OUR WORK