section.section-works.home-sections.cf
  header.entry-header.cf
    .col-sm-12
      h3.entry-title Portfolio
  .entry-content.cf
    .row
      .col-sm-4
        .row
          .card
            img(src='img/work-budayaw.jpg' class='card-img' alt="BIMP-EAGA Festival of Cultures - Budayaw Festival 2017")
            .card-img-overlays
              h4.card-title Budayaw Festival
                br
                span
                  a(href="http://budayaw.com" target="_blank").btn.btn-outline-warning.btn-md Visit Site
      .col-sm-4
        .row
          .card
            img(src='img/work-maco.jpg' class='card-img' alt="Municipality of Maco Website")
            .card-img-overlays
              h4.card-title Municipality of Maco
                br
                span
                  a(href="http://maco.gov.ph" target="_blank").btn.btn-outline-warning.btn-md Visit Site
      .col-sm-4
        .row
          .card
            img(src='img/work-monkayo.jpg' class='card-img' alt="Municipality of Monkayo Official Website")
            .card-img-overlays
              h4.card-title Municipality of Monkayo
                br
                span
                  a(href="http://monkayo.gov.ph" target="_blank").btn.btn-outline-warning.btn-md Visit Site
      .col-sm-4
        .row
          .card
            img(src='img/work-ongc.jpg' class='card-img' alt="")
            .card-img-overlays
              h4.card-title ONGC Australia
                br
                span
                  a(href="http://ongc.com.au" target="_blank").btn.btn-outline-warning.btn-md Visit Site
      .col-sm-4
        .row
          .card
            img(src='img/work-arrow.jpg' class='card-img' alt="Arrow Marketing")
            .card-img-overlays
              h4.card-title Arrow Marketing
                br
                span
                  a(href="http://arrowtipmarketing.com" target="_blank").btn.btn-outline-warning.btn-md Visit Site
      .col-sm-4
        .row
          .card
            img(src='img/work-dalthan.jpg' class='card-img' alt="Dalthan Printing Press")
            .card-img-overlays
              h4.card-title Dalthan Printing Press
                br
                span
                  a(href="http://dalthanprinting.com" target="_blank").btn.btn-outline-warning.btn-md Visit Site

      .col-sm-4
        .row
          .card
            img(src='img/work-kyle.jpg' class='card-img' alt="Kyle Born")
            .card-img-overlays
              h4.card-title Kyle Born [Motocross Racer]
                br
                span
                  a(href="http://kyleborn464.com" target="_blank").btn.btn-outline-warning.btn-md Visit Site
      .col-sm-4
        .row
          .card
            img(src='img/work-mxzen.jpg' class='card-img' alt="MX Zen Academy")
            .card-img-overlays
              h4.card-title MX Zen Academy
                br
                span
                  a(href="http://mxzen.com" target="_blank").btn.btn-outline-warning.btn-md Visit Site

      .col-sm-4
        .row
          .card
            img(src='img/work-rabbitfoot.jpg' class='card-img' alt="Rabbitfoot Photography")        
            .card-img-overlays
              h4.card-title Rabbitfoot Photography
                br
                span
                  a(href="http://mxzen.com" target="_blank").btn.btn-outline-warning.btn-md Visit Site


