.site-footer {
	padding-top: 5em;
	padding-bottom: 5em;
	font-size: 1em;
	vertical-align: middle;
	p,ul {
		margin-top: 1em;
		color: $gray-100;
	}

	p.numbers {
		width: 2em;
	}

	.fa-heart {
		color: $red;
		margin-right: .25em;
	}

	a {
		color: $gray-100;
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}

	.navbar {
		font-size: 1.2em;

		@include media-breakpoint-down(sm) {
			display: none;
		}

	}

	@include media-breakpoint-down(xs) {
		text-align: center;
		p, ul {
			margin-top: 0;
			margin-bottom: 0;
		}
		.credits {
			margin-top: 2em;
		}
	}

}