#mobile-menu.mobile-menu.hidden-lg-up
  #hide-menu.cf
    img(src='/img/close.svg')
  nav.navbar.cf
    ul.nav.m-auto
      li.nav-item
        a(href='/') Home
      li.nav-item
        a(href='/about') About
      li.nav-item
        a(href='/works') Works
      li.nav-item
        a(href='/services') Services
      li.nav-item
        a(href='/contact') Contact
//.mobile-menu

header.site-header.navbar-full.hide
  .container-fluid
    .row
      //.site-title-area
      .title-area.col-lg-4.col-sm-8.col-9
        h1.site-title
          a(href='/') OnlineCrew
      //.site-nav-widget
      .site-nav-widget.col-lg-8.col-sm-4.col-3.text-lg-right
        nav.nav.pull-right
          include nav.jade
          .mobile-burger.d-md-block.d-lg-none
            #open-menu
              span
              span
              span
//.site-header
          