ul.nav.nav-inline
	li.nav-item
		a(href='/') Home
	li.nav-item
		a(href='/about') About
	li.nav-item
		a(href='/works') Works
	li.nav-item
		a(href='/') Services
	li.nav-item
		a(href='#contact') Contact