.entry-header {
	text-align: center;
	.entry-title {
		font-size: 3em;
		@include media-breakpoint-down(md) {
			font-size: 2.5em;
		}
		@include media-breakpoint-down(md) {
			font-size: 2em;
		}
	}
}

.main-banner {
	width: 100%;
	position: relative;
	img {
		width: 100%
	}
	@include media-breakpoint-down(xs) {
		color: white;

		&:after {
			content: '';
			display: block;
			clear: both;
	    background: rgba(0,0,0,0.8);
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    z-index: 1000;
	    position: absolute;
		}
	}
	.intro-text {
		font-size: 1.25em;
		text-align: center;
		color: black;
		letter-spacing: 1px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		@include media-breakpoint-down(md) {
			width: 100%;
		}

		@include media-breakpoint-down(sm) {
			font-size: .8em;
			padding: 0 5%;
		}

		@include media-breakpoint-down(xs) {
			font-size: .65em;
			z-index: 9000;
			color: white;
		}

		h3 {
			font-size: 2em;
		}
		.sub-title {
			font-size: 1em;
			font-weight: 300;
		}
	}	
}

.our-mission {
	color: $gray-light;
	letter-spacing: 1px;
}

.our-team {
	.box {
		margin-bottom: 3em;
	}
	.card {
		background: none;
		h3 {
			font-size: 1.75em;
			margin-top: .75em;
			font-weight: 400;
			small {
				font-size: 65%;
				font-weight: 400;
				text-transform: uppercase;
			}
		}
	}
}