.home-about {
	background: $gray-200;
	font-size: 1.25em;
	text-align: center;
	letter-spacing: 1.5px;
	color: $black;
	padding: 3em 0;
	position: relative;
	h1 {
		font-size: 2em;
		font-weight: 500;
	}
	p {
		font-size: 1.5em;
		font-weight: 300;
	}
	@include media-breakpoint-down(lg) {
		font-size: 1em;
	}
	@include media-breakpoint-down(sm) {
		font-size: .75em;
	}
}