.home-sections {
	padding-top: 3em;
	padding-bottom: 4em;
	@include media-breakpoint-down(md) {
		padding-top: 3em;
		padding-bottom: 3em;
	}
	.entry-header {
		.entry-title {
			font-size: 2.5em;
			margin-bottom: 1em;
			@include media-breakpoint-down(sm) {
				font-size: 2em;
				margin-bottom: 1em;
			}
			@include media-breakpoint-down(xs) {
				font-size: 1.5em;
			}
			
		}
	}
	.entry-footer {
		margin-top: 3em;
	}
}