.home-reviews {
	background-color: $gray-100;
	.entry-title {
		text-align: center;
	}
	img {
		max-width: 100%;
	}
	.review-title {
		margin-bottom: 1em;
		.col-sm-8 {
			padding-top: 1em;
		}
		@include media-breakpoint-down(sm) {
			img {
				display: block;
				margin: auto;
			}
		}
	}
	.reviewer {
		margin-top: 1em;
		@include media-breakpoint-down(sm) {
			text-align: center;
		}

	}

	.reviewer-title {
		font-size: .8em;
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
	.review-title,
	.review-content {
		padding-left: 1em;
		padding-right: 1em;
	}

	.reviews-item {
		@include media-breakpoint-down(sm) {
			margin-bottom: 2em;
			padding-bottom: 2em;
		}
	}


}