.section-works {
	
	.entry-header {
		text-align: center;
		margin-bottom: 3em;
		@include media-breakpoint-down(sm) {
			margin-bottom: 1em;
		}
	}

	img {
		max-width: 100%;
		border-radius: 0;

		transition: all ease-in-out 2000ms;
		-webkit-transition: all ease-in-out 2000ms;
		-moz-transition: all ease-in-out 2000ms;
		-o-transition: all ease-in-out 2000ms;
	}
	.card {
		border: none;
		overflow: hidden;
		margin-bottom: 0;
		border-radius: 0;
		.card-img-overlays {
			@include media-breakpoint-up(lg) {
				opacity: 0;

		    width: 100%;
		    height: 100%;
		    background: $transparent-blue;
		    top: 0;
		    left: 0;

		    position: absolute;

		    transition: opacity ease 500ms;
				-webkit-transition: opacity ease 500ms;
				-moz-transition: opacity ease 500ms;
				-o-transition: opacity ease 500ms;
			}
		}
		.card-title {
			text-transform: uppercase;
			font-weight: 500;
			color: white;
			opacity: 0;

			text-align: center;
			position: absolute;
			
			width: 100%;
			padding: 0 10%;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
		
			transition: opacity ease 250ms;
			-webkit-transition: opacity ease 250ms;
			-moz-transition: opacity ease 250ms;
			-o-transition: opacity ease 250ms;
			
			animation-delay: 1s;

			a {
				color: white;
				&:hover {
					text-decoration: none;
				}
			}
			
		}
		@include media-breakpoint-up(md) {
			&:hover {
				img {
					transform: scale(1.1);
					-webkit-transform: scale(1.1);
					-moz-transform: scale(1.1);
					-o-transform: scale(1.1);
					
					transition: all ease-in-out 2000ms;
					-webkit-transition: all ease-in-out 2000ms;
					-moz-transition: all ease-in-out 2000ms;
					-o-transition: all ease-in-out 2000ms;
				}
				.card-img-overlays {
					opacity: 1;
					transition: opacity ease 500ms;
					-webkit-transition: opacity ease 500ms;
					-moz-transition: opacity ease 500ms;
					-o-transition: opacity ease 500ms;
					.card-title {
						opacity: 1;
					}
				}
			}
		}
		@include media-breakpoint-down(md) {
			.card-img-overlays {
				opacity: 1;
				.card-title {
					font-size: 1.25em;
					opacity: 1;
				}
			}
		}

		@include media-breakpoint-down(sm) {
			&:before {
				content: '';
				display: block;
				clear: both;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: $transparent-blue;
			}
		}

		@include media-breakpoint-down(xs) {
			.card-img-overlays {
				.card-title {
					font-size: 1.5em;
				}
			}
		}
	}
	
	.entry-footer {
		margin-top: 2em;
	}


}