doctype html
html(lang="en" dir="ltr")
  block head
    include partials/head.jade
      title OnlineCrew Designs | Davao Web Designers
      meta(name='description', description='We are a web design and development team based in Davao City, Philippines.')
      meta(name='keywords', content='Web Design and Development Davao City, Web Design and Development Bohol, Web Designer Davao City, Web Designer Philippines, Web Developer Davao City, Web Designer Mindanao')
      meta(property='og:url', content='http://www.onlinecrewdesigns.com')
      meta(property='og:site_name', content='OnlineCrew')
      meta(property='twitter:title', content='@OnlineCrewDesigns')
      meta(property='twitter:description', content='We are a web design and development team based in Davao City, Philippines.')
      meta(property='og:title', content='OnlineCrew Designs')
      meta(property='og:description', content='We are a web design and development team based in Davao City, Philippines.')
      meta(property='og:image', content='http://www.onlinecrewdesigns.com/img/banner-bg.jpg')

      link(rel='canonical', href='http://www.onlinecrewdesigns.com')
      
      include partials/style.jade

      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-89377433-1', 'auto');
        ga('send', 'pageview');
    
  
  body.home
    .site-container
      block content

      include front/banner.jade
      include front/about.jade
      include front/work.jade
      include front/reviews.jade
      
      block contact
        include partials/contact.jade
      block footer
        include partials/footer.jade

